<!DOCTYPE html>
<html>
<head>
	<title>League of legends Top Laners</title>
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/second.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
<h1>These are some top laners you guys can begin with!</h1>
<h2>Some of these champions are more useful in other lanes.</h2>
<h3><a href="../index.html">Mid Laners</a>, <a href="second.html">Top Laners</a>, <a href="third.html">Junglers</a></h3>
<p id="kata">This is Katarina</p>
<br>
<br>
<br>
<img id="kata-pic" src="../images/Katarina.png">
<p id="kat-info">Katarina is a very mobile champion, she can teleport to her daggers and execute powerful combos to take down her enemy.She isnt a go to top laner but can do very well in top lane. Below is an example of the power of katarina.</p>
<img id="kata-gif" src="https://media.giphy.com/media/l3dj1MV1foRw7OJlm/giphy.gif">
<br>
<br>
<br>
<br>
<br>
<br>
<p id="irelia">This is Irelia</p>
<img id="irelia-pic" src="../images/irelia.jpg">
<p id="irelia-info">Irelia is a fast paced top laner. she dashes from pinion to minion and sometime uses the minion to get to her enemy.She is based around dashes to kill. Below is an example.</p>
<img id="irelia-gif" src="https://thumbs.gfycat.com/CompetentSlightAsianlion-size_restricted.gif">
<br>
<br>
<br>
<br>
<br>
<br>
<p id="fiora">This is Fiora</p>
<img id="fiora-pic" src="../images/fiora.jpg">
<p id="fiora-info">Fiora is the Grand Duelist of the game. She thrives in 1v1's or even 1v5's. She has high burst single target skills that everyone one should be afraid of. Below is an example of her exquiste skills.</p>
<img id="fiora-gif" src="https://thumbs.gfycat.com/ReflectingNextFurseal-size_restricted.gif">
</body>
</html>