<!DOCTYPE html>
<html>
<head>
	<title>These are some jungles you guys can begin with</title>
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/third.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>These junglers are very strong at ganking lanes and making the game go their way.</h1>
<br>
<br>
<br>
<h2>Theres only really two junglers that are kind of beginner friendly.jungling is one of the hardest roles.</h2>
<h3><a href="../index.html">Mid Laners</a>, <a href="../second.html">Top Laners</a>, <a href="third.html">Junglers</a></h3>
<p id="kayn">This is Kayn</p>
<img id="kayn-pic" src="../images/Kayn.jpg">
<p id="kayn-info">Kayn is a master asassin. He can go through walls at fast speeds and also has two forms. Darkin is his red form and Asassin is his blue form. Below is an example of Kayn doing his job.</p>
<img id="kayn-gif" src="https://thumbs.gfycat.com/PhonyEsteemedHound-size_restricted.gif">

<br>
<br>
<br>
<br>
<p id="tryn">This is Tryndemare</p>
<img id="tryn-pic" src="../images/tryn.jpg">
<p id="tryn-info">Tryndamere is a pure fighter. All this champion is good for is fighting. his damage relies in his ablilty to hit critical strikes more often than any other champion.Below is an example of his critical strike, this is just INSANE.</p>
<img id="tryn-gif" src="https://thumbs.gfycat.com/EarlyBackAnnashummingbird-size_restricted.gif">



</body>
</html>